<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
	<link rel="stylesheet" href="/style_sheets/dashboard.css">
	<link rel="stylesheet" href="/style_sheets/add_module.css">

	</head>

	<body>
		<div class="container">
			<br>
			<div class="row">
				<h2>Add new module</h2>
				<br>
			</div>
			<div class="row">
				<div class="col-lg-6"> <div id="editor"></div> </div>
				<div class="col-lg-6"> <div id="preview"></div> </div>
			</div>
		</div>
		<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script src="/ace-builds/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/js.cookie.js" type="text/javascript" charset="utf-8"></script>

		<script>window.define = ace.define;</script>
		<script>
			Array.prototype.last = function() {
				return this[this.length-1];
			}
			var editor = ace.edit("editor");
			editor.getSession().setMode("ace/mode/markdown");
			editor.setAutoScrollEditorIntoView(true);
			editor.setOption("maxLines", 30);
			editor.setOption("minLines", 30);
			editor.getSession().setUseWrapMode(true);

			editor.setOptions({
				fontSize: "12pt"
			});

			var initialized = false;

			var old;

			function renderMarkdown() {

				if(initialized){
					if(old != editor.getValue()) {
						document.getElementById("preview").innerHTML =
						editor.getValue()
						.split('\n\n')
						.map(function(pgf) {
							try{
								return pgf ? Module.ccall('parse', 'string', ['string'], [pgf + '\n\0']) : "<br>";
							}
							catch(err){
								return "<small>Error at rendering.</small>";
							}
						})
						.reduce(function(result, value) {
							return result + value;
						}, "");

						old = editor.getValue();
						Cookies.set('md', editor.getValue());
					}
				}
			}

			setInterval(renderMarkdown, 100);
		</script>

		<script type='text/javascript'>
		var Module = {
			onRuntimeInitialized: function() {
				initialized = true;
				if(Cookies.get('md')) {
					editor.setValue(Cookies.get('md'), 1);
				}
			}
		}
		</script>
		<script async type="text/javascript" src="/webasm/editor.js"></script>
	</body>
</html>
