<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/style_sheets/dashboard.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>

</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">LearningPointers</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			</ul>
			<span class="navbar-text">Back</span>
		</div>
	</nav>
	<div class="container">
		<div class="card" style="width: 100%">
			<div class="card-block">
				<h1>Module name</h1>
			</div>
			<hr>
			<div class="card-block">
				Dictum, erat sed blandit venenatis, arcu
				dolor molestie dolor, vitae congue orci risus a nulla.
				Pellentesque sit amet arcu. In mattis laoreet enim.
				Pellentesque id augue et arcu blandit tincidunt. Pellentesque
				elit ante, rhoncus quis, dapibus sit amet, tincidunt eu, nibh.
				In imperdiet. Nunc lectus neque, commodo eget, porttitor quis,
				fringilla quis, purus.

				Duis sagittis dignissim eros. In sit amet lectus. Fusce lacinia mauris vitae
				nisl interdum condimentum. Etiam in magna ac nibh ultrices vehicula. Maecenas
				commodo facilisis lectus. Praesent sed mi. Phasellus ipsum. Donec quis tellus
				id lectus faucibus molestie. Praesent vel ligula. Nam venenatis neque quis
				mauris. Proin felis. Cum sociis natoque penatibus et magnis dis parturient
				montes, nascetur ridiculus mus. Aliquam quam. Nam felis velit, semper nec,
				aliquam nec, iaculis vel, mi. Nullam et augue vitae nunc tristique vehicula.
				Suspendisse eget elit. Duis adipiscing dui non quam.

				Duis posuere tortor sit amet est iaculis egestas. Ut at magna. Etiam dui nisi,
				blandit quis, fermentum vitae, auctor vel, sem. Cras et leo. Vestibulum ante
				ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin
				luctus, odio eu porttitor adipiscing, ante elit tristique tortor, sit amet
				malesuada tortor nisi sit amet neque. Praesent rhoncus eros non velit.
				Pellentesque mattis. Sed sit amet ante. Mauris ac nibh eget risus volutpat
				tempor. Praesent volutpat sollicitudin dui. Sed in tellus id urna viverra
				commodo. Vestibulum enim felis, interdum non, sollicitudin in, posuere a, sem.
				Cras nibh.

				Sed facilisis ultrices dolor. Vestibulum pretium mauris sed turpis. Phasellus a
				pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel,
				condimentum vitae, est. Vestibulum ut augue. Nunc laoreet sapien quis neque
				semper dictum. Phasellus rhoncus est id turpis. Vestibulum in elit at odio
				pellentesque volutpat. Nam nec tortor. Suspendisse porttitor consequat nulla.
				Morbi suscipit tincidunt nisi. Sed laoreet, mauris et tincidunt facilisis, est
				nisi pellentesque.

				<p>
					Dictum, erat sed blandit venenatis, arcu
					dolor molestie dolor, vitae congue orci risus a nulla.
					Pellentesque sit amet arcu. In mattis laoreet enim.
					Pellentesque id augue et arcu blandit tincidunt. Pellentesque
					elit ante, rhoncus quis, dapibus sit amet, tincidunt eu, nibh.
					In imperdiet. Nunc lectus neque, commodo eget, porttitor quis,
					fringilla quis, purus.
				</p>

				Duis sagittis dignissim eros. In sit amet lectus. Fusce lacinia mauris vitae
				nisl interdum condimentum. Etiam in magna ac nibh ultrices vehicula. Maecenas
				commodo facilisis lectus. Praesent sed mi. Phasellus ipsum. Donec quis tellus
				id lectus faucibus molestie. Praesent vel ligula. Nam venenatis neque quis
				mauris. Proin felis. Cum sociis natoque penatibus et magnis dis parturient
				montes, nascetur ridiculus mus. Aliquam quam. Nam felis velit, semper nec,
				aliquam nec, iaculis vel, mi. Nullam et augue vitae nunc tristique vehicula.
				Suspendisse eget elit. Duis adipiscing dui non quam.

				Duis posuere tortor sit amet est iaculis egestas. Ut at magna. Etiam dui nisi,
				blandit quis, fermentum vitae, auctor vel, sem. Cras et leo. Vestibulum ante
				ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin
				luctus, odio eu porttitor adipiscing, ante elit tristique tortor, sit amet
				malesuada tortor nisi sit amet neque. Praesent rhoncus eros non velit.
				Pellentesque mattis. Sed sit amet ante. Mauris ac nibh eget risus volutpat
				tempor. Praesent volutpat sollicitudin dui. Sed in tellus id urna viverra
				commodo. Vestibulum enim felis, interdum non, sollicitudin in, posuere a, sem.
				Cras nibh.

				Sed facilisis ultrices dolor. Vestibulum pretium mauris sed turpis. Phasellus a
				pede id odio interdum elementum. Nam urna felis, sodales ut, luctus vel,
				condimentum vitae, est. Vestibulum ut augue. Nunc laoreet sapien quis neque
				semper dictum. Phasellus rhoncus est id turpis. Vestibulum in elit at odio
				pellentesque volutpat. Nam nec tortor. Suspendisse porttitor consequat nulla.
				Morbi suscipit tincidunt nisi. Sed laoreet, mauris et tincidunt facilisis, est
				nisi pellentesque.
			</div>
			<hr>
			<div class="card-block">
				<a href="#" class="btn btn-primary">Take the test</a>
				<a href="#" class="btn btn-success">Edit this module</a>
			</div>
		</div>
</body>
</html>
