.course {
	margin: 10px;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
	width: 400px;
}

.course-title {
	font-size: 25px;
	padding:15px;
	background-color: #8797b2;
	color: white;
	font-weight: bold;
}

.course-progress {
	background-color: darkgray;
	height: 8px;

	position: relative;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.course-progress .progressbar{
	background-color: #00cc66;
	height: 100%;
	display: block;
}

.course-modules {
	padding:10px;
}

.course-category {
	padding:10px;
	font-size: 15px;
}

.course-details {
	background-color: #c57b57;
}

/*04724d*/
.course-actions {
	padding: 0;
	margin: 0;
}
.course-actions li{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
}

.course-actions a {
	text-decoration: none;
	color: white;
}

.course-goto{
	background-color: #29274c;
	width:65%;
}

.course-unsubscribe{
	background-color: #da2c38;
	transition: background-color 0.5s;
	width:25%;
	text-align: center;
}

.course-unsubscribe:hover{
	background-color: red;
}


@media screen and (max-width: 1000px) {
	#main {
		text-align: center;
	}
	.course {
		width: 80%;
		margin: 0 auto;
	}
}
