<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
		<title>Dashboard</title>
		<link rel="stylesheet" href="/style_sheets/dashboard.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
	<script src="http://darsa.in/sly/examples/js/vendor/plugins.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
</head>
<body>
	<% if(messages.error) { %>
		<div id="errors">
			<b>Error:</b> <%= messages.error %>
	</div>
<% } %>
<% if(messages.success) { %>
	<div id="success">
		<b>Success:</b> <%= messages.success %>
</div>
<% } %>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/">LearningPointers</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile">My profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/courses/find">Find courses</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search courses">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>

</nav>
<div class="container" id="course-container">
	<div class="row">
		<div class="col-lg-8">
			<br>
			<h3>Courses you have subscribed to:</h3>
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<h4 class="card-title">Introduction to pointers</h4>
					<p class="card-text">Basic concepts about memory and pointers in C++</p>
					<a href="/course/introduction-to-pointers" class="btn btn-green">Go to course</a>
				</div>
			</div>
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<h4 class="card-title">Introduction to pointers</h4>
					<p class="card-text">Basic concepts about memory and pointers in C++</p>
					<a href="/course/introduction-to-pointers" class="btn btn-green">Go to course</a>
				</div>
			</div>
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<h4 class="card-title">Introduction to pointers</h4>
					<p class="card-text">Basic concepts about memory and pointers in C++</p>
					<a href="/course/introduction-to-pointers" class="btn btn-green">Go to course</a>
				</div>
			</div>
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<h4 class="card-title">Introduction to pointers</h4>
					<p class="card-text">Basic concepts about memory and pointers in C++</p>
					<a href="/course/introduction-to-pointers" class="btn btn-green">Go to course</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<br>
			<h3>Bookmarks</h3>
			<ul class="list-group">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
