<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous"> 
		<script	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

		<style>
		body{
			font-family: 'Roboto', sans-serif !important;
			background: #F0F0F0;
		}
		</style>

		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script async src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

		<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style_sheets/editor_style.css"/>
		<link rel="stylesheet" href="/style_sheets/watch_table_style.css"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">

		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
		<script type="text/javascript" src="/treetable/jstreetable.js"></script>

		<script async src="/scripts/bootstrap-waitingfor.min.js"></script>

		<script src="/scripts/js.cookie.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

		<link rel="stylesheet" href="/style_sheets/jquery.dropdown.min.css"/>

		<title>LearningPointers</title>
	</head>
	<body>
		<div class="pure-g">
			<div class="pure-u-1-4">
				<center>
					<div id="left_content">
						left
					</div>
				</center>
			</div>
			<div class="pure-u-1-2">
				<center>
					<div class="pure-button-group" role="group" id="toolbar">
						<button id="debug_code_button" class="pure-button">
							Debug
						</button>
						<button id="run_code_button" class="pure-button">
							<!--<i class="fa fa-play" aria-hidden="true"></i>--> Run
						</button>
						<button id="stop_button" class="pure-button" disabled>
							<!--<i class="fa fa-stop" aria-hidden="true"></i>--> Stop
						</button>
						<button id="step_debugger" class="pure-button" disabled>
							Step
						</button>
						<button id="next_debugger" class="pure-button" disabled>
							Next
						</button>
						<button id="continue_debugger" class="pure-button" disabled>
							Continue
						</button>
						<button id="save_code" class="pure-button">
							<!--<i class="fa fa-floppy-o" aria-hidden="true"></i>--> Save
						</button>
						<button data-jq-dropdown="#jq-dropdown-1" class="pure-button">Options </button>
					</div>
					<div id="editor">//Write your code here</div>
				</center>
				<br/>
				<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
					<div class="jq-dropdown-panel">
						<ul id="options">
							<li>
								<label class="checkbox-inline">
									<input data-toggle="toggle" type="checkbox" id="enable_vim"/>&nbsp;Enable VIM
								</label>

							</li>
							<li>
								Choose theme
								<select class="selectpicker">
									<option value="dark">Dark</option>
									<option value="light">Light</option>
								</select>
							</li>
							<li>
								<button id="full_screen" class="pure-button">
									Full Screen
								</button>
							</li>
						</ul>
					</div>
				</div>
				<span id="br_parent">
					<ul id="breakpoint_options">
						<li>
							<label class="checkbox-inline">
								<input  data-toggle="toggle" type="checkbox" id="temp_br"/>
									<span style="color: white">&nbsp;Temporary</span>
							</label>

						</li>
						<li>
							<span style="color: white">Condition</span>
							<input type="text" id="cond_br"/>
						</li>
					</ul>
				</span>
				<center>
				<div class="pure-form">

					<textarea rows=6 cols=27 id="input" placeholder="Enter program input"></textarea>
					<textarea rows=6 cols=27 id="output" placeholder="Program output" ></textarea>
				</div>
				</center>
				<script>
					$(function() {
						$("#enable_vim").bootstrapToggle("off");
						toggle_vim();
						$('.selectpicker').selectpicker({width: '80px'});
					});
				</script>
			</div>
			<div class="pure-u-1-4">
				<button id="pls" class="pure-button" disabled>
					Add expression
				</button>

				<div class="watch_table_class"></div>
			</div>
		</div>
		<div id="compilation_error_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Compilation message</h4>
					</div>
					<div class="modal-body">
						<h4><p id="errors"></p></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


		<script src="/scripts/jquery.dropdown.min.js"></script>
		<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script src="/ace-builds/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>

		<script src="/scripts/converter.js"></script>
		<script src="/scripts/button_mapping.js"></script>
		<script src="/scripts/editor_gutter_setup.js"></script>
		<script src="/scripts/editor_setup.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/gdb_events.js"></script>
		<script src="/scripts/watch_table_handler.js"></script>
		<script src="/scripts/memory_table_handler.js"></script>
		<script src="/scripts/memory_var_x.js"></script>
		<script src="/scripts/main_logic.js"></script>
	</body>
</html>
