<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet"/>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


	<style>
	body{
		font-family: 'Roboto', sans-serif !important;
		margin: 10px auto;
		width: 80%;
		background-color: #f0f0f0;
	}
	h1{
		font-size: 220%;
		outline: none;
		border-radius: 2px;
		border-style: none;
		background-color: seagreen;
		padding: 10px;
		padding-left: 15px;
		padding-right: 15px;
		text-decoration: none;
		color: #FFFFFF;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}
	li{
		font-size: 120%;
	}
	</style>
	<title>LearningPointers</title>
</head>
<body>
	<h1>Lessons</h1>
	<ol style="margin: 70px auto">
		<% lessons.forEach(function(item){ %>
			<li><a href='/lesson/<%= item.id %>'><%= item.title %></a></li>
		<% }); %>
	</ol>
</body>
</html>
