<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet"/>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous"> 
	<script src="/scripts/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


	<style>
	body{
		font-family: 'Roboto', sans-serif !important;
		margin: 10px auto;
		width: 80%;
	}
	</style>
	<title>LearningPointers</title>
</head>
<body>
	<h2>Introduceti continutul noii lectii in Markdown: </h2>
	<form action="/lesson/add" method="post" class="pure-form">
		<label>Titlu: </label>
		<input type="text" name="title" required/>
		<br/>
		<br/>
		<textarea name="content"></textarea>
		<script>
			var simplemde = new SimpleMDE();
		</script>
		<button class="pure-button" style="cursor:pointer">Save</button>
	</form>
</body>
</html>
