<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet"/>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

	<style>
	body{
		font-family: 'Roboto', sans-serif !important;
		margin: 10px auto;
		width: 80%;
	}
	</style>
	<title>LearningPointers</title>
</head>
<body>
	<h1>Lessons</h1>
	<ol>
	<% lessons.forEach(function(item){ %>
		<li><a href='/lesson/<%= item.id %>'><%= item.title %></a></li>
	<% }); %>
	</ol>
</body>
</html>
