
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet"/>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>



	<script src="/scripts/markdown.min.js"></script>
	<script src="/scripts/jquery-3.2.1.min.js"></script>

	<script>
	$(function(){
		$("#raw").hide();
		var html = markdown.toHTML($("#raw").text());
		$("#content").html(html);
	});
	</script>
	</script>

	<style>
	body{
		font-family: 'Roboto', sans-serif !important;
		margin: 10px auto;
		width: 80%;
		background-color: #f0f0f0;
	}
	h1{
		margin-left: 50px;
		font-size: 220%;
		outline: none;
		border-radius: 2px;
		border-style: none;
		background-color: seagreen;
		padding: 10px;
		padding-left: 15px;
		padding-right: 15px;
		text-decoration: none;
		color: #FFFFFF;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		margin-bottom: 50px;
	}
	</style>
	<title>LearningPointers</title>
</head>
<body>
	<% if (lesson){ %>
	<div id="raw"><%=lesson.content%></div>
	<% if (lesson) { %>
	<h1><%= lesson.title %></h1>
	<% } %>
	<div id="content">
	</div>
	<% } else { %>
		<center>
			<h2>Lesson not found</h2>
		</center>

	<% } %>
</body>
</html>
