<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
		<link rel="stylesheet" href="/style_sheets/login.css">
	</head>
	<body>
		<form action="/login" method="post" id="form" data-persist="garlic">
			<input type="hidden" name="_csrf" value="<%=csrfToken%>">
			<% if(messages.error) { %>
				<div id="errors">
					<b>Error:</b> <%= messages.error %>
				</div>
			<% } %>
			<% if(messages.success) { %>
				<div id="success">
					<b>Success:</b> <%= messages.success %>
				</div>
			<% } %>
			<div class="login-wrap">
				<p>Please enter your credentials bellow:</p>
				<div class="form">
					<input type="email" id="email" placeholder="Email" name="email" value="<%=messages.email%>"/>
					<input type="password" id="password" placeholder="Password" name="password" />
					<button>Log in</button>
					<a href="/signup"> <p> Don't have an account? Sign up </p></a>
				</div>
			</div>
		</form>

		<script	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/scripts/js.cookie.js"></script>
		<script>
			$(function() {
			//	if(!$("#email").val()) {
			//		$("#email").val(Cookies.get('login_email'));
			//	}
				if($("#email").val())
					$("#password").focus();
				else $("#email").focus();
			});
		//	$("#email").change(function() {
		//		Cookies.set('login_email', $("#email").val() ,{expires: 0.5});
		//	});
		</script>
	</body>
</html>
