<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>

		<link rel="stylesheet" href="/style_sheets/login.css">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">

		</head>
	<body>
		<% if(messages.error) { %>
			<div id="errors">
				<b>Error:</b> <%= messages.error %>
			</div>
		<% } %>
		<% if(messages.success) { %>
			<div id="success">
				<b>Success:</b> <%= messages.success %>
			</div>
		<% } %>
		<form action="/login" method="post" id="form">
			<div class="card">
  			<div class="card-block">
					<input type="hidden" name="_csrf" value="<%=csrfToken%>">
				<p class="card-title">Please enter your credentials bellow:</p>
				<div class="form-group">
					<input type="email"
					id="email"
					placeholder="Email"
					 name="email"
					 class="form-control"
					 value="<%=messages.email%>"/>
				</div>
				<div class="form-group">
					<input type="password"
						id="password"
						placeholder="Password"
						name="password"
						class="form-control" />
				</div>
				<div class="form-group">
					<button class="btn btn-green">Log in</button>
				</div>
				<div class="form-group">
					<br>
					<a href="/signup" class="card-link">Don't have an account? Sign up</a>
				</div>
			</div>
		</div>
		</form>

		<script	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/scripts/js.cookie.js"></script>
		<script>
			$(function() {
			//	if(!$("#email").val()) {
			//		$("#email").val(Cookies.get('login_email'));
			//	}
				if($("#email").val())
					$("#password").focus();
				else $("#email").focus();
			});
		//	$("#email").change(function() {
		//		Cookies.set('login_email', $("#email").val() ,{expires: 0.5});
		//	});
		</script>
	</body>
</html>
