<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Signup</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/style_sheets/signup.css">
</head>
<body>
	<div id="signup-form">
		<% if(messages.error) { %>
			<div id="errors">
				<b>Error:</b> <%= messages.error %>
			</div>
		<% } %>
		<form action="/signup" method="post">
			<input type="hidden" name="_csrf" value="<%=csrfToken%>">
			<div class="login-wrap">
				<p id="title">Create a new account</p>
				<div class="form">
					<input type="email" id="email" placeholder="Email" name="email" />
					<input type="password" placeholder="Password" name="password" />
					<!--<input type="password" placeholder="Confirm password" name="password_confirm" />-->
					<input type="text" id="name" placeholder="Name" name="name"><br>
					<button>Sign up</button>
					<a href="/login"> <p> Already have an account? Log in</p></a>
				</div>
			</div>
		</form>
		<script	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/scripts/js.cookie.js"></script>
		<script>
		$(function() {
			$("#email").val(Cookies.get('signup_email'));
			$("#name").val(Cookies.get('signup_name'));
		});
		$("#email").change(function() {
			Cookies.set('signup_email', $("#email").val() ,{expires: 0.5});
		});
		$("#name").change(function() {
			Cookies.set('signup_name', $("#name").val() ,{expires: 0.5});
		});

		</script>
	</div>
</body>
</html>
