body{
	/*background-color: #2F4F4F;*/
}
#editor{
	/*margin: 20px !important;*/
}

#toolbar{
	padding: 10px;
}

.ace_editor {
	border: 1px solid lightgray;
	display: block;
}
.scrollmargin {
	height: 80px;
	text-align: center;
}
#editor {
	/** Setting height is also important, otherwise editor wont showup**/
	height: 300px;
	margin: 0 auto;
}
.myMarker {
	position:absolute;
	background-color: #505050;
	/*z-index:20*/
}
.ace_gutter-cell.ace_breakpoint{ 
	background: url('../rds.png') no-repeat;
	background-position: left center;
}
