.watches_header {
	border: 1px solid lightgray;
	margin-top: 2px; 
}

.jstree li > a > .jstree-icon {
	display: none !important;
}

.n_elem {
	color: grey;
	font-size: smaller;
}

.memory_table_class {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

}

.memory_table_class td {
	text-align: center;
}