.watches_header {
	border: 1px solid lightgray;
	margin-top: 2px; 
}

.jstree li > a > .jstree-icon {
	display: none !important;
}

.n_elem {
	color: grey;
	font-size: smaller;
}

.memory_table_class {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

}

.memory_table_class td {
	text-align: center;
}

.colored_cell {
	/*css('border-style', 'solid');
            $(cells[index]).css('border-color', 'rgba(180, 0, 0, 0.4)');
            $(cells[index]).css('border-width', '2px');
            $(cells[index]).css('background-color', 'rgba(180, 0, 0, 0.1)');*/
	border-style: solid;
	border-width: 2px;
	border-color: rgba(180, 0, 0, 0.4);
	background-color: rgba(180, 0, 0, 0.1);
}