html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

#preview {
	background-color: #FFFFFF;
	min-height: 100%;
	max-height: 100px;
	overflow-y: scroll;
	border-radius: 3px;
	padding: 10px;
	color: black !important;
	border: 1px solid #F0F0F0;
}
#preview * {
	color: black !important;
}

#editor {
	border-radius: 5px;
}

h2 {
	color: #FFFFFF;
	padding-left: 12px;
}

#submit {
	transform: translateX(-25px);
}
