html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: #07594e !important;
}

#success {
	text-align: center;
	color: white;
	background: #2ECC40;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}

#errors {
	text-align: center;
	color: white;
	background: #FF4136;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}

.card {
	display: inline-block !important;
	margin: 10px;
}

.container {
	margin: 0 auto;
}

.list-group {
	margin-top:20px !important;
}

h3 {
	color: white !important;
}

.btn-green {
	background-color: seagreen !important;
	text-decoration: none;
	color: white !important;
}
