html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: 'Open Sans', sans-serif;
}

@keyframes entry {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1);
	}
}

#form {
	width: 350px;
	margin: 100px auto;
}
.btn-green {
	background-color: seagreen !important;
	text-decoration: none;
	color: white !important;
	cursor: pointer;
}
#form p{
	font-size: 20px;
}
#form a {
	text-decoration: none;
	font-size: 15px !important;
}
#errors {
	text-align: center;
	color: white;
	background: #FF4136;
	padding: 10px;
	animation: shake 0.5s;
}

#success {
	text-align: center;
	color: white;
	background: #2ECC40;
	padding: 10px;
	animation: shake 0.5s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
