html, body {
	margin: 0;
	padding: 0;
	background: #07594e;
	box-sizing: border-box;
}

* {
	font-family: 'Open Sans', sans-serif;
}

@keyframes entry {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1);
	}
}

html .login-wrap {
	position: relative;
	margin: 80px auto;
	background: #ecf0f1;
	width: 350px;
	box-shadow: 3px 3px 10px #333;
	padding: 15px;
	/*animation: entry 0.5s;*/
}
html .login-wrap h2 {
	text-align: center;
	font-weight: 200;
	font-size: 2em;
	margin-top: 10px;
	color: #34495e;
}
html .login-wrap .form {
	padding-top: 20px;
}
html .login-wrap .form input[type="text"],
html .login-wrap .form input[type="email"],
html .login-wrap .form input[type="password"],
html .login-wrap .form button {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 25px;
	height: 40px;
	outline: 0;
	-moz-outline-style: none;
}
html .login-wrap .form input[type="text"],
html .login-wrap .form input[type="email"],
html .login-wrap .form input[type="password"] {
	border: 1px solid #bbb;
	padding: 0 0 0 10px;
	font-size: 14px;
}
html .login-wrap .form input[type="text"]:focus,
html .login-wrap .form input[type="email"]:focus,
html .login-wrap .form input[type="password"]:focus {
	border: 1px solid #3498db;
}
html .login-wrap .form a {
	text-align: center;
	color: #3498db;
}
html .login-wrap .form a p {
	padding-bottom: 10px;
}
html .login-wrap .form button {
	background: #e74c3c;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
}
html .login-wrap .form button:hover {
	box-shadow: 1px 1px 5px #555;
}
html .login-wrap .form button:active {
	box-shadow: 1px 1px 7px #222;
}
