.watch_table_class{
	margin: 10px auto !important;
}

.watches_header {
	border: 1px solid lightgray;
	margin-top: 2px; 
	cursor: pointer;
}
.jstree-table-header{
	background-color: #778899 !important;
}

.jstree li > a > .jstree-icon {
	display: none !important;
}

.watches_body {
	width: 500px;
}

.watch_me_resize {
	min-width: 150px;
}

.n_elem {
	color: grey;
	font-size: smaller;
}

.memory_table_class {
	user-select: none;
	display: block;
	width: 500px;
	height: 210px;      
    overflow-y: auto;  
    /* overflow-x: hidden; */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

}

.memory_table_class thead tbody{
	display: block;
}

.memory_table_class td {
	text-align: center;
}

.colored_cell {
	/*css('border-style', 'solid');
            $(cells[index]).css('border-color', 'rgba(180, 0, 0, 0.4)');
            $(cells[index]).css('border-width', '2px');
            $(cells[index]).css('background-color', 'rgba(180, 0, 0, 0.1)');*/
	border-style: solid;
	border-width: 2px;
	border-color: rgba(180, 0, 0, 0.7);
	background-color: rgba(180, 0, 0, 0.3);
}
